<nb-card>
<nb-card-header>Welcome to C5 Store</nb-card-header>
<nb-card-body>
<table class="table table-hover table-bordered table-striped">
  <tr>
    <th class="text-center">Name</th>
    <th class="text-center">Price</th>
    <th class="text-center">CreatedAt</th>
    <th class="text-center">UpdatedAt</th>
    <th class="text-center">Seller</th>
  </tr>
  <tr *ngFor="let product of tableData">
    <!-- The products that are not in edit mode -->
    <td class="text-center">{{product.name}}</td>
    <td class="text-center">{{product.price|currency}}</td>
    <td class="text-center">{{product.createdAt| date}}</td>
    <td class="text-center">{{product.updatedAt| date}}</td>
    <td class="text-center">{{product.SellerName}}</td>
  </tr>
</table>
</nb-card-body>
<nb-card-footer>Thank you for visiting the store!</nb-card-footer>
</nb-card>
