
<nb-card>
    <nb-card >
        <nb-card-header>
          Products table
        </nb-card-header>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

        <h1>Esraa Store</h1>
      
        <nb-card-body>

      <div id="divaya" *ngIf="divaya">
          Name: <input #tName required/>
          Price: <input #tPrice required/>
          Seller: <input #tSeller required/>

        </div>
    
        
        <div id="divaya2" *ngIf="divaya2">
          Name: <input #tName [(ngModel)]="oldName" required/>
          Price: <input #tPrice [(ngModel)]="oldPrice" required/>
          Seller: <input #tSeller [(ngModel)]="oldSeller" required/>
          <button class = "Button" (click) = "sheelDivaya2()"></button> 
          <button class = "Button" (click) = "sheelDivaya2()"></button>
        </div>    

 <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      <th>Seller</th>

    </tr>
      <!-- </thead>
            <tbody> -->
                 <tr> 
<td> <input class= "form-control" ng-model ="product.name"></td>
<td> <input class= "form-control" ng-model ="product.price"></td>
<td> <input class= "form-control" ng-model ="product.createdAt"></td>
<td> <input class= "form-control" ng-model ="product.updateAt"></td>
<td> <input class= "form-control" ng-model ="product.SellerName"></td>
<td><span id="add" ><button class="btn btn-primary btn-sm" (click) = "createProduct({name: tName.value, price: tPrice.value, SellerName: tSeller.value})" ><i style="font-size:24px"></i> submitt</button></span></td>


                </tr> 
    <tr *ngFor="let product of tableData">
      <td>{{product.name}}</td>
      <td>{{product.price|currency}}</td>
      <td>{{product.createdAt| date}}</td>
      <td>{{product.updatedAt| date}}</td>
      <td>{{product.SellerName}}</td>

    
    <td><button class="btn btn-primary btn-sm" ng-click= "updateProduct()" > update Product</button></td>
    <td><button class="btn btn-primary btn-sm" ng-click= "deleteProduct()" > deleteProduct</button></td>
    
    </tr>
  </table>
  </nb-card-body>
  </nb-card>
  
  